[submodule "Repository/Day 1/Theory/1 - developer environment setup"]
	path = Repository/Day 1/Theory/1 - developer environment setup
	url = https://github.com/boolean-uk/developer-environment-setup.git
[submodule "Repository/Day 1/Theory/2 - java fundamentals day 1 workshop"]
	path = Repository/Day 1/Theory/2 - java fundamentals day 1 workshop
	url = https://github.com/boolean-uk/java-fundamentals-day-1-workshop.git
[submodule "Repository/Day 1/Ex/1 - java fundamentals overview"]
	path = Repository/Day 1/Ex/1 - java fundamentals overview
	url = https://github.com/boolean-uk/java-fundamentals-overview.git
[submodule "Repository/Day 1/Ex/Optional/1 - java fundamentals overview"]
	path = Repository/Day 1/Ex/Optional/1 - java fundamentals overview
	url = https://github.com/boolean-uk/java-fundamentals-overview.git
[submodule "Repository/Day 2/Theory/1 - java fundamentals lists and hashmaps workshop"]
	path = Repository/Day 2/Theory/1 - java fundamentals lists and hashmaps workshop
	url = https://github.com/boolean-uk/java-fundamentals-lists-and-hashmaps-workshop.git
[submodule "Repository/Day 2/Ex/1 - java fundamentals lists"]
	path = Repository/Day 2/Ex/1 - java fundamentals lists
	url = https://github.com/boolean-uk/java-fundamentals-lists.git
[submodule "Repository/Day 2/Ex/2 - java fundamentals maps"]
	path = Repository/Day 2/Ex/2 - java fundamentals maps
	url = https://github.com/boolean-uk/java-fundamentals-maps.git
[submodule "Repository/Day 2/Ex/3 - java scrabble challenge"]
	path = Repository/Day 2/Ex/3 - java scrabble challenge
	url = https://github.com/boolean-uk/java-scrabble-challenge.git
[submodule "Repository/Day 3/Theory/1 - java tdd domain modelling"]
	path = Repository/Day 3/Theory/1 - java tdd domain modelling
	url = https://github.com/boolean-uk/java-tdd-domain-modelling.git
[submodule "Repository/Day 3/Ex/1 - java tdd todo list"]
	path = Repository/Day 3/Ex/1 - java tdd todo list
	url = https://github.com/boolean-uk/java-tdd-todo-list.git
[submodule "Repository/Day 4/Theory/1 - java tdd oop encapsulation"]
	path = Repository/Day 4/Theory/1 - java tdd oop encapsulation
	url = https://github.com/boolean-uk/java-tdd-oop-encapsulation.git
[submodule "Repository/Day 4/Theory/2 - java tdd oop abstraction"]
	path = Repository/Day 4/Theory/2 - java tdd oop abstraction
	url = https://github.com/boolean-uk/java-tdd-oop-abstraction.git
[submodule "Repository/Day 4/Ex/1 - java tdd oop bobs bagels"]
	path = Repository/Day 4/Ex/1 - java tdd oop bobs bagels
	url = https://github.com/boolean-uk/java-tdd-oop-bobs-bagels.git
[submodule "Repository/Day 5/Theory/1 - Polymorphism"]
	path = Repository/Day 5/Theory/1 - Polymorphism
	url = https://github.com/boolean-uk/java-tdd-oop-polymorphism.git
[submodule "Repository/Day 5/Theory/2 - Inheritance"]
	path = Repository/Day 5/Theory/2 - Inheritance
	url = https://github.com/boolean-uk/java-tdd-oop-inheritance.git
[submodule "Repository/Day 6/Ex/1 - Bank Challenge"]
	path = Repository/Day 6/Ex/1 - Bank Challenge
	url = https://github.com/boolean-uk/java-tdd-oop-bank-challenge.git
[submodule "Repository/Day 7/Theory/1 - Spring Boot, Controllers, Annotations"]
	path = Repository/Day 7/Theory/1 - Spring Boot, Controllers, Annotations
	url = https://github.com/boolean-uk/java-api-counter-workshop.git
[submodule "Repository/Day 7/Ex/1 - Java API Counter"]
	path = Repository/Day 7/Ex/1 - Java API Counter
	url = https://github.com/boolean-uk/java-api-counter.git
[submodule "Repository/Day 8/Theory/1 - Java Requests and Responses"]
	path = Repository/Day 8/Theory/1 - Java Requests and Responses
	url = https://github.com/boolean-uk/java-api-requests-responses-workshop.git
[submodule "Repository/Day 8/Ex/1 - Java API Requests & Responses"]
	path = Repository/Day 8/Ex/1 - Java API Requests & Responses
	url = https://github.com/boolean-uk/java-api-requests-responses.git
[submodule "Repository/Day 9/Theory/1 - Java API - MVC - In Memory"]
	path = Repository/Day 9/Theory/1 - Java API - MVC - In Memory
	url = https://github.com/boolean-uk/java-api-mvc-in-memory-workshop.git
[submodule "Repository/Day 9/Ex/1 - Java API - MVC - In Memory"]
	path = Repository/Day 9/Ex/1 - Java API - MVC - In Memory
	url = https://github.com/boolean-uk/java-api-mvc-in-memory.git
[submodule "Repository/Day 10/Theory/1 - Data Modelling"]
	path = Repository/Day 10/Theory/1 - Data Modelling
	url = https://github.com/boolean-uk/java-data-modelling.git
[submodule "Repository/Day 10/Ex/1 - Data Modelling"]
	path = Repository/Day 10/Ex/1 - Data Modelling
	url = https://github.com/boolean-uk/java-data-modelling.git
[submodule "Repository/Day 10/Ex/2 - Api SQL Intro"]
	path = Repository/Day 10/Ex/2 - Api SQL Intro
	url = https://github.com/boolean-uk/api-sql-intro.git
[submodule "Repository/Day 11/Ex/1 - SQL Relations & Joins"]
	path = Repository/Day 11/Ex/1 - SQL Relations & Joins
	url = https://github.com/boolean-uk/java-apis-sql-relations-and-joins.git
[submodule "Repository/Day 11/Theory/2 - Migrations"]
	path = Repository/Day 11/Theory/2 - Migrations
	url = https://github.com/boolean-uk/java-api-migrations-workshop.git
[submodule "Repository/Day 11/Ex/2 - Migrations"]
	path = Repository/Day 11/Ex/2 - Migrations
	url = https://github.com/boolean-uk/java-api-migrations.git
[submodule "Repository/Day 12/Theory/1 - MVC with Postres"]
	path = Repository/Day 12/Theory/1 - MVC with Postres
	url = https://github.com/boolean-uk/java-api-mvc-with-postgres-workshop.git
[submodule "Repository/Day 12/Ex/1 - MVC with Postgres"]
	path = Repository/Day 12/Ex/1 - MVC with Postgres
	url = https://github.com/boolean-uk/java-api-mvc-with-postgres.git
[submodule "Repository/Day 13/Theory/1 - JPA and Repository - Part 1"]
	path = Repository/Day 13/Theory/1 - JPA and Repository - Part 1
	url = https://github.com/boolean-uk/java-api-jpa-hibernate-workshop.git
[submodule "Repository/Day 13/Ex/1 - JPA and Repository - Part 1"]
	path = Repository/Day 13/Ex/1 - JPA and Repository - Part 1
	url = https://github.com/boolean-uk/java-api-jpa-hibernate.git
[submodule "Repository/Day 14/Theory/1 - JPA and Repository - Part 2"]
	path = Repository/Day 14/Theory/1 - JPA and Repository - Part 2
	url = https://github.com/boolean-uk/java-api-jpa-hibernate-part2-workshop.git
[submodule "Repository/Day 14/Ex/1 - JPA and Repository - Part 2"]
	path = Repository/Day 14/Ex/1 - JPA and Repository - Part 2
	url = https://github.com/boolean-uk/java-api-jpa-hibernate-part2.git
[submodule "Repository/Day 15/Ex/1 - SSO Protected Resource"]
	path = Repository/Day 15/Ex/1 - SSO Protected Resource
	url = https://github.com/Guybrush3791/boolean-uk-1-fortnox-springboot-sso-protected-res.git
[submodule "Repository/Day 16/Ex/1 - SSO Challenge Day"]
	path = Repository/Day 16/Ex/1 - SSO Challenge Day
	url = https://github.com/Guybrush3791/boolean-uk-1-fortnox-springboot-sso-challenge-day.git
[submodule "Repository/Day 17/Ex/1 - GitHub actions CI-CD"]
	path = Repository/Day 17/Ex/1 - GitHub actions CI-CD
	url = https://github.com/Guybrush3791/boolean-uk-1-fortnox-github-actions-ci-cd.git
[submodule "Repository/Day 18/Ex/1 - WebFlux - Mono"]
	path = Repository/Day 18/Ex/1 - WebFlux - Mono
	url = https://github.com/Guybrush3791/boolean-uk-1-fortnox-webflux-mono.git
[submodule "Repository/Day 19/Ex/1 - WebFlux - Flux & Error"]
	path = Repository/Day 19/Ex/1 - WebFlux - Flux & Error
	url = https://github.com/Guybrush3791/boolean-uk-1-fortnox-webflux-flux.git
[submodule "Repository/Day 20/Theory/1 - JS variables"]
	path = Repository/Day 20/Theory/1 - JS variables
	url = https://github.com/boolean-uk/js-fundamentals-variables.git
[submodule "Repository/Day 20/Ex/1 - JS primitive datatype"]
	path = Repository/Day 20/Ex/1 - JS primitive datatype
	url = https://github.com/boolean-uk/js-fundamentals-primitive-data-types.git
[submodule "Repository/Day 21/Theory/1 - JS & Bootstrap Intro"]
	path = Repository/Day 21/Theory/1 - JS & Bootstrap Intro
	url = https://github.com/Guybrush3791/boolean-uk-1-fortnox-js-bootstrap-intro
[submodule "Repository/Day 21/Ex/1 - JS & Bootstrap Ex"]
	path = Repository/Day 21/Ex/1 - JS & Bootstrap Ex
	url = https://github.com/Guybrush3791/boolean-uk-1-fortnox-js-bootstrap-exercise.git
[submodule "Repository/Day 22/Ex/1 - Figma Design"]
	path = Repository/Day 22/Ex/1 - Figma Design
	url = https://github.com/Guybrush3791/boolean-uk-1-fortnox-figma-design.git
[submodule "Repository/Day 23/Ex/1 - JS DOM Green Grocers"]
	path = Repository/Day 23/Ex/1 - JS DOM Green Grocers
	url = https://github.com/boolean-uk/js-dom-greengrocers.git
[submodule "Repository/Day 24/Ex/1 - React Twitter Props"]
	path = Repository/Day 24/Ex/1 - React Twitter Props
	url = https://github.com/boolean-uk/react-twitter-props.git
[submodule "Repository/Day 24/Theory/1 - React Immutable State"]
	path = Repository/Day 24/Theory/1 - React Immutable State
	url = https://github.com/boolean-uk/react-immutable-state.git
[submodule "Repository/Day 25/Theory/1 - Form Practice"]
	path = Repository/Day 25/Theory/1 - Form Practice
	url = https://github.com/boolean-uk/react-forms-practice.git
[submodule "Repository/Day 25/Ex/1 - React Survey"]
	path = Repository/Day 25/Ex/1 - React Survey
	url = https://github.com/boolean-uk/react-survey.git
[submodule "Repository/Day 26/Ex/1 - React Effect for Fetch"]
	path = Repository/Day 26/Ex/1 - React Effect for Fetch
	url = https://github.com/boolean-uk/react-effect-for-fetch.git
[submodule "Repository/Day 27/Ex/1 - Hired Router"]
	path = Repository/Day 27/Ex/1 - Hired Router
	url = https://github.com/boolean-uk/react-hire-router-exemplar
[submodule "Repository/Day 28/Ex/1 - React Context"]
	path = Repository/Day 28/Ex/1 - React Context
	url = https://github.com/boolean-uk/react-context-api.git
[submodule "Repository/Day 30/Theory/1 - Java Cloud Azure - 2"]
	path = Repository/Day 30/Theory/1 - Java Cloud Azure - 2
	url = https://github.com/boolean-uk/java-cloud-azure-day-4.git
[submodule "Repository/Day 29/Theory/1 - Java Cloud Azure - 1"]
	path = Repository/Day 29/Theory/1 - Java Cloud Azure - 1
	url = https://github.com/boolean-uk/java-cloud-azure-day-3.git
