[submodule "Repository/Day 1/Theory/1 - developer environment setup"]
	path = Repository/Day 1/Theory/1 - developer environment setup
	url = https://github.com/boolean-uk/developer-environment-setup.git
[submodule "Repository/Day 1/Theory/2 - java fundamentals day 1 workshop"]
	path = Repository/Day 1/Theory/2 - java fundamentals day 1 workshop
	url = https://github.com/boolean-uk/java-fundamentals-day-1-workshop.git
[submodule "Repository/Day 1/Ex/1 - java fundamentals overview"]
	path = Repository/Day 1/Ex/1 - java fundamentals overview
	url = https://github.com/boolean-uk/java-fundamentals-overview.git
