[submodule "Repository/Day 1/Theory/1 - developer environment setup"]
	path = Repository/Day 1/Theory/1 - developer environment setup
	url = https://github.com/boolean-uk/developer-environment-setup.git
[submodule "Repository/Day 1/Theory/2 - java fundamentals day 1 workshop"]
	path = Repository/Day 1/Theory/2 - java fundamentals day 1 workshop
	url = https://github.com/boolean-uk/java-fundamentals-day-1-workshop.git
[submodule "Repository/Day 1/Ex/1 - java fundamentals overview"]
	path = Repository/Day 1/Ex/1 - java fundamentals overview
	url = https://github.com/boolean-uk/java-fundamentals-overview.git
[submodule "Repository/Day 2/Theory/1 - java tdd domain modelling"]
	path = Repository/Day 2/Theory/1 - java tdd domain modelling
	url = https://github.com/boolean-uk/java-tdd-domain-modelling.git
[submodule "Repository/Day 2/Ex/1 - java tdd todo list"]
	path = Repository/Day 2/Ex/1 - java tdd todo list
	url = https://github.com/boolean-uk/java-tdd-todo-list.git
[submodule "Repository/Day 3/Theory/1 - java tdd oop encapsulation"]
	path = Repository/Day 3/Theory/1 - java tdd oop encapsulation
	url = https://github.com/boolean-uk/java-tdd-oop-encapsulation.git
[submodule "Repository/Day 3/Theory/2 - java tdd oop abstraction"]
	path = Repository/Day 3/Theory/2 - java tdd oop abstraction
	url = https://github.com/boolean-uk/java-tdd-oop-abstraction.git
[submodule "Repository/Day 3/Ex/1 - java tdd oop bobs bagels"]
	path = Repository/Day 3/Ex/1 - java tdd oop bobs bagels
	url = https://github.com/boolean-uk/java-tdd-oop-bobs-bagels.git
[submodule "Repository/Day 5/Theory/1 - Polymorphism"]
	path = Repository/Day 5/Theory/1 - Polymorphism
	url = https://github.com/boolean-uk/java-tdd-oop-polymorphism.git
[submodule "Repository/Day 5/Theory/2 - Inheritance"]
	path = Repository/Day 5/Theory/2 - Inheritance
	url = https://github.com/boolean-uk/java-tdd-oop-inheritance.git
[submodule "Repository/Day 4/Theory/1 - java tdd oop concrete dependency injection"]
	path = Repository/Day 4/Theory/1 - java tdd oop concrete dependency injection
	url = https://github.com/boolean-uk/java-tdd-oop-concrete-dependency-injection
[submodule "Repository/Day 4/Theory/2 - java tdd oop interface dependency injection"]
	path = Repository/Day 4/Theory/2 - java tdd oop interface dependency injection
	url = https://github.com/boolean-uk/java-tdd-oop-interface-dependency-injection
[submodule "Repository/Day 4/LC/java-dependency-injection-live-coding"]
	path = Repository/Day 4/LC/java-dependency-injection-live-coding
	url = git@github.com:WOWS-Inc/java-dependency-injection-live-coding.git
